.consultation {
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url('../images/consultation-bg.jpg');
  background-position: center;
  &--bottom {
    margin-bottom: 0;
    background-image: url('../images/consultation-bg-2.jpg');
    background-position: center;
  }
  &__title {
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }
  &__form {
    text-align: center;
  }
  &__field {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    &--name {
      display: none;
    }
    &--phone {
      position: relative;
      label {
        position: absolute;
        top: 0;
        left: 30px;
        color: #888;
        font-size: 16px;
        font-weight: 300;
        line-height: 70px;
      }
    }
    input {
      width: 300px;
      height: 60px;
      padding-left: 20px;
      background-color: #fff;
      border-radius: 5px;
      color: #888;
      font-size: 20px;
      font-weight: 300;
      line-height: 70px;
      @include placeColor($color: transparent);
      &:focus + label {
        display: none;
      }
    }
  }
  &__submit {
    width: 300px;
    height: 60px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    &--bottom {
      border-color: $accent-color;
    }
  }
  @media($tablet-widths) {
    &__field {
      @include inlineBlock();
      margin-right: 10px;
      label {
        display: none;
      }
      input {
        @include placeColor($color: #888);
      }
    }
    &__submit {
      display: block;
      width: 613px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media($desktop-widths) {
    &__submit {
      @include inlineBlock();
      width: 300px;
    }
  }
}