.features {
  color: #222;
  &__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__items {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  &__item {
    position: relative;
    text-align: center;
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 182px;
    border-radius: 100%;
    border: 6px solid transparent;
    background-color: $accent-color;
    &::after {
      content: "";
      position: absolute;
      top: -46px;
      left: -69px;
      display: block;
      width: 328px;
      height: 318px;
      background-image: url('../images/features-shadow-tablet.png');
      background-repeat: no-repeat;
    }
    svg {
      fill: #fff;
      width: 95px;
      height: 109px;
    }
    &--managing {
      svg {
        width: 136px;
        height: 105px;
      }
    }
    &:hover {
      background-color: #fff;
      border-color: $accent-color;
      svg {
        fill: $accent-color;
      }
    }
  }
  &__number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    color: #a4a4a4;
    font-size: 44px;
    font-weight: 700;
  }
  &__text {
    color: #7f7f7f;
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
  }
  @media($tablet-widths) {
    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
    }
    &__items {
      width: auto;
      margin-top: 60px;
    }
    &__item {
      margin-bottom: 40px;
      padding-left: 220px;
      text-align: left;
    }
    &__number {
      font-size: 44px;
    }
  }
  @media($desktop-widths) {
    &__items {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      width: 333px;
      @include marginRight();
      padding-left: 0;
    }
    &__image-wrapper {
      width: 300px;
      height: 300px;
      position: relative;
    }
    &__image {
      width: 250px;
      height: 250px;
      &::after {
        top: -65px;
        left: -151px;
        background-image: url('../images/features-shadow.png');
      }
      svg {
        width: 131px;
        height: 150px;
      }
      &--managing {
        svg {
          width: 196px;
          height: 150px;
        }
      }
    }
    &__number {
      font-size: 60px;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50px;
    font-size: 0;
    width: 31px;
    height: 31px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
  }
  .slick-prev {
    left: 0;
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include fa($fa-angle-left, #fff, 30px);
    }
  }
  .slick-next {
    right: 0;
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include fa($fa-angle-right, #fff, 30px);
    }
  }
}

//.cls-1 {
//  fill: #fff !important;
//  fill-rule: evenodd;
//}
//.cls-1:hover{
//  fill:$accent-color !important;
//}

