.header {
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #222;
  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  &__menu {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 4;
    width: 274px;
    height: 539px;
    padding-top: 30px;
    padding-left: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 2, 0.32);
    background-color: #303030;
  }
  &__menu-icon {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;
    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: gray;

    }
    &::after, &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: gray;
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
  }
  &__menu-phone {
    position: relative;
    display: block;
    margin-bottom: 30px;
    color: #fff;
    padding-left: 60px;
    font-size: 20px;
    span {
      display: block;
      font-size: 14px;
    }
    &::after {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      @include fa($fa-phone, $accent-color, 25px);
    }
  }
  &__list {
    @include noList;
  }
  &__item {
    position: relative;
    padding: 20px;
    padding-left: 40px;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
    &::after {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include fa($fa-angle-double-right, #fff, 18px);
    }
  }
  &__link {
    display: block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #bdbdbd;
    &:hover {
      border-color: $accent-color;
      text-decoration: none;
    }
  }
  &__contact {
    display: none;
  }
  &__contact-icon {
    position: absolute;
    left: 20px;
    @include fa($fa-phone, $accent-color, 25px);
    cursor: pointer;
  }
  &__popup {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 30px 20px;
    width: 277px;
    height: 433px;
    box-shadow: 0 2px 5px rgba(0, 0, 2, 0.32);
    background-color: #303030;
    color: #fff;
    h2 {
      position: relative;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -10px;

        width: 100%;
        height: 2px;
        background-color: $accent-color;
      }
    }
  }
  &__form {
    margin-top: 40px;
    input {
      width: 100%;
      padding: 10px;
      font-size: 15px;
    }
    button[type="submit"] {
      background-color: $accent-color;
      border: none;
      padding: 15px;
      color: #fff;
      text-transform: uppercase;
      font-family: ProximaNova;
      font-weight: 700;
      width: 100%;
    }
  }
  &__success {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 396px;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 85px;
    padding-left: 65px;
    padding-right: 65px;
    color: #fff;
    text-align: center;
    h3 {
      font-size: 17px;
      font-weight: 700;
      line-height: 21px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 66px;
      height: 66px;
      background-image: url('../images/header-success.png');
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__success-close {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 5px;
    right: 20px;
    background-image: url('../images/close.png');
    cursor: pointer;
  }
  &__form-block {
    @include marginBottom();
  }
  @media($tablet-widths) {
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__logo {
      position: static;
      transform: translateX(0);
    }
    &__menu {
      display: block;
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      background-color: transparent;
      order: 1;
      flex-grow: 1;
      margin-right: 40px;
      margin-left: 40px;
      margin-top: 25px;
      box-shadow: none;
    }
    &__menu-phone, &__menu-icon {
      display: none;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      position: relative;
      padding: 0;
      padding-left: 0;
      margin-right: 20px;
      margin-bottom: 20px;
      border-top: none;
      &:last-child {
        border-bottom: none;
      }
      &::after {
        display: none;
      }
      &--products, &--services {
        margin-right: 30px;
        position: relative;
        &::after {
          position: absolute;
          right: -20px;
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          @include fa($fa-angle-down, $accent-color, 18px);
          cursor: pointer;

        }
        &:focus {
          color: #0000aa;
        }
      }
    }
    &__submenu {
      position: absolute;
      top: 40px;
      z-index: 5;
      width: 267px;
      padding: 30px 40px;
      background-color: #fff;
      box-shadow: 1.5px 2.6px 15px rgba(0, 0, 0, 0.3);
      list-style-type: none;
      color: #333;
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $accent-color;
      }
      li {
        @include marginBottom(30px);
      }
    }
    &__link {
      color: #222;
    }
    &__contact {
      display: flex;
    }
    &__btn {
      display: block;
      width: 146px;
      height: 32px;
      margin-bottom: 10px;
      border: 2px solid #6db436;
      border-radius: 4px;
      line-height: 32px;
      color: #333;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
    }
    &__phone {
      display: block;
      letter-spacing: 1px;
      margin-right: 30px;
      line-height: 32px;
    }
    &__contact-icon {
      display: none;
    }
    &__popup {
      z-index: 10;
      width: 442px;
      height: 396px;
      top: 105px;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 65px;
      padding-right: 65px;
      background-color: transparent;
      border: 1px solid white;
      h2 {
        &::after {
          height: 1px;
        }
        span {
          display: none;
        }
      }
    }
    &__popup-close {
      position: absolute;
      width: 11px;
      height: 11px;
      top: 20px;
      right: 20px;
      background-image: url('../images/close.png');
      cursor: pointer;
    }
    &__success {
      width: 442px;
    }
    &__form {
      button {
        font-size: 16px;
      }
    }
  }
  @media($desktop-widths) {
    .container {
      flex-wrap: nowrap;
    }
    &__menu {
      order: 0;
    }
    &__phone {
      margin-right: 0;
    }
    &__contact {
      display: block;
    }
  }
}