body{
  background-color: forestgreen;
}
header{
  height: 760px;
  color:#000;
  background-image: url(../images/header-bg.jpg);
}
p{
  font-size: 16px;
  line-height: 20px;
}
.box{
  display: inline;
}